<html>
    <body>
        <table border=1>
            <thread>
                <th>ID</th>
                <th>NAMA</th>
                <th>ALAMAT</th>
                <th>ID SALUT</th>
            </thread>
            {% for row in rows %}
        <tr>
            <td>{{ row[0]}}</td>
            <td>{{ row[1]}}</td>
            <td>{{ row[2]}}</td>
            <td>{{ row[3]}}</td>
        </tr>
            {% endfor%}
        </table>
            <p>
                <a href="/">Back TO Home Page</a>
            </p>
            <p>
                <a href="/update">Update</a>
            </p>
    </body>
</html>