    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
        <meta charset="UTF-8">
        <title>Movie</title>
        {% if result %}
        
        {% for row in result %}
        
        {% endfor %}
        {% endif %}
    <table id="Member" style="width:100%"><tbody><tr>
            <th>Id Number</th>
            <th>Firs Name</th>
            <th>Address</th>
            <th>Id Salute</th>
           
        </tr><tr>
            <td> {{ row.id_number }}</td>
            <td> {{ row.f_name }}</td>
            <td> {{ row.p_address }}</td>
            <td> {{ row.id_salute }}</td>
        
        </tr></tbody></table>